<div class="container">
  <table>
    <th>
      <tr>
        <td>No</td>
        <td>Desk</td>
      </tr>
    </th>

    <tr
      *ngFor="let i of tableData"
      [class.selected]="i.isSelected"
      (click)="selectRow(i)"
    >
      <td>{{ i.no }}</td>
      <td>{{ i.name }}</td>
    </tr>

    <tbody></tbody>
  </table>

  <div>
    <button class="btn btn-primary" (click)="showSelected()">Click Me</button>
  </div>

  <div>
    <app-itemview [item]="itemObject"></app-itemview>
  </div>
</div>
